/*===========common css start here=============*/
html,body{height:100%; width:100%;}
body{ padding-right: 0 !important;}
*{margin:0; padding:0;}
a{cursor:pointer}
body{ font-family: 'RobotoRegular'; /*background:url(../images/inner_body_bg.jpg) repeat 0 0;*/ background:#eceff4;}
img, fieldset{border:none;}
:focus{outline:none}	
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {	text-decoration: none;}
ul,ol{ margin:0; padding:0; list-style:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal; margin:0;}
.fw{ float:left; width:100%;}
.no-pad{ padding:0 !important;}
.no-pad-left{ padding-left:0 !important;}
.no-pad-right{ padding-right:0 !important;}
/*===========common css end here=============*/
.wrapper{ margin:0 auto; max-width:1100px;}
.head-sec .wrapper{position:relative}
.left_container{ float:left; width:17%; transition:all .5s;  margin:0 0 0 -20%; overflow:hidden; position:fixed; left:0; height:100%; padding:1%; background:#1b1b1b ; z-index:9999}

.left_container .user-sec{ float:left; width:100%; margin:0 0 20px}
.left_container .user-sec img{ float:left; margin:0 15px 0 0; width:80px; border-radius:50%;}
.left_container .user-sec p{ font-size:18px; color:#fff; line-height:24px; padding:15px 0 0;}
.left_container .user-sec small{ padding:0 0 0 15px; position:relative; color:#959595}
.left_container .user-sec small:after{ position:absolute; left:0; top:2px; width:10px; height:10px; content:''; border-radius:10px; background:#a6ddb7;}
.left_container ul{ float:left; width:100%;}
.left_container li{ border-bottom:1px solid #ccc;}
.left_container li a{ background:#333; display:block; color:#fff; padding:8px 10px; font-size:14px;}
.left_container li a:hover{ background:#1b1b1b;}

.right_container.home{ padding-top:115px;}
.right_container .toggle{font-size:30px; float:left; color:#005494; margin:0 0 0 10px; width:40px; z-index:999; position:relative}
.right_container{ float:right; width:98%; padding:15px 1% 10px; position:relative; transition:all .5s; overflow:hidden;}
.right_container .overlay{background:rgba(0,0,0,.3); position:absolute; top:0px; left:0px; height:100%; width:100%; display:none; transition:all .5s; z-index:999;}
.right_container.less .overlay{display:block}
.right_container .head-sec{ padding:20px 0; background:#fff; position:fixed; right:0; top:0; width:100%; z-index:9; text-align:center; transition:.5s;}
.right_container h3{ text-align:center; font-size:16px; line-height:0; color:#005494; padding:0 0 15px; text-transform:uppercase; display:inline-block; width:100%;}
.right_container .choose{ font-size:15px; line-height:20px; margin:5px 3% 0 0; display:inline-block; vertical-align:middle; text-transform:capitalize}

.right_container .head-sec ul {list-style:none; position: absolute; right: 0; text-transform: uppercase; top: 5px;}
.right_container .head-sec  ul li {border-right: 1px solid #005494; display: inline-block;padding: 0 10px;}
.right_container .head-sec ul li a { color: #005494; font-size: 14px;  line-height: 18px; opacity: 0.8; text-decoration: none; cursor:pointer}
.right_container .head-sec  ul li:last-child{border:none}
.right_container .search_box{ display:inline-block; vertical-align:middle; background:#fff; width:75%; border:2px solid #005494; height:20px; border-radius:20px; padding:5px 10px;}
.right_container .search_box a{ font-size:19px; float:left; color:#005494; margin:0 5px;}
.right_container .search_box input[type="search"]{ background:none; border:none; height:20px; line-height:20px; float:right; width:95%;}


.left_container.more{margin:0;}
.right_container.less{ margin:0; width:79%;}
.head-sec.sort{ width:81%;}
.right_container.inner{ padding-top:70px;}
.right_container.inner .head-sec{ padding:10px 0;}

.img_container{ float:left; width:100%; margin:20px 0;}
.img_container:hover .box:after{ position:absolute; width:100%; height:100%; content:''; background:rgba(255,255,255,.5); left:0; top:0;}
.boxout{ width:100%; text-align:center}
.img_container .box{ position:relative; overflow:hidden; display:inline-block; vertical-align:top; width:31%; margin:0 .5% 20px; box-shadow:0 3px 2px #ccc; opacity:1; background:#fff;}
.img_container .box:hover:after{ display:none;}
.img_container .box.active:hover .links{ bottom:0; display:block;}
.img_container .box.active:hover span{ bottom:50%; }
.img_container ul:last-child{ margin-right:0;}
.img_container .box img{ width:100%; vertical-align:top;}
.img_container .box span{ position:absolute; bottom:10px; transition:.5s; left:0; width:90%; padding:5px 5%; color:#fff; text-shadow:1px 2px 0 #333; font-size:22px; line-height:30px; text-align:center}
.img_container .box .links{ position:absolute; text-align:center; transition:.5s; bottom:-50px; background:rgba(255,255,255,.85); padding:5px 2%; width:96%; display:none;}
.img_container .box .links ul{ width:100%; margin:0;}
.img_container .box .links li{ width:auto; opacity:1; display:inline-block; margin:0 5%; font-size:14px; line-height:18px; vertical-align:middle;}
.img_container .box .links li a{ color:#005494;}
.img_container .box .links li i{ display:block;}

.left_sec{ float:left; width:66%; }
.right_sec{ float:right; width:31%; background:#fff; border:1px solid #d8e2e7; border-radius:4px;}

.right_search{ background:#005494; border-radius:4px 4px 0 0; padding:3px 10px; height:30px;}
.right_search a{ color:#fff; font-size:18px; float:left; margin:5px 10px 2px 0;}
.right_search input[type="search"]{ float:left; width:85%; height:30px; line-height:30px; border:none; background:none; font-size:14px; color:#fff;}
.right_sec ul{ float:left; width:100%;}
.right_sec ul li{ float:left; width:94%; padding:10px 3%;}
.right_sec ul li:last-child{ border-radius:0 0 4px 4px;}
.right_sec ul li:nth-child(even){ background:#f9fafb;}
.right_sec ul li img{ width:60px; float:left; border-radius:50%; margin:0 10px 0 0;}
.right_sec ul li a{ padding:7px 0 2px; color:#000; font-size:15px; line-height:20px; display:block;}
.right_sec ul li a:hover{ color:#00a8ff;}
.right_sec ul li p{ font-size:14px; color:#9eb1bb; line-height:16px;}

.trending_box{ float:left; width:96%; border:1px solid #d8e2e7; /*box-shadow:0 3px 2px #ccc; */background:#fff; padding:10px 2% 17px; border-radius:4px;}
.trending_box h4{ font-size:16px; font-family: 'RobotoLight'; line-height:22px; color:#8e9fa7; margin:0 0 10px;}
.trending_box ul li{ float:left; width:32%; margin:0 2% 0 0;}
.trending_box ul li:last-child{ margin:0;}
.trending_box ul li{max-height:147px; overflow:hidden}
.trending_box ul li img{ width:100%; vertical-align:top;}

.btns_sec{ margin:20px 0; float:left; width:100%;}
.btns_sec .btn{ float:left; background:#005494; font-size:14px; border-radius:20px; line-height:20px; color:#fff; padding:8px 15px; margin:0 5px 0 0;}
.btns_sec .log-btn{ float:right; margin:0;}
.middle-search{ float:left; width:51%; border-radius:20px; background:#fff; border:1px solid #d8e2e7; padding:3px 10px;}
.middle-search a{ font-size:17px; float:left; color:#919fa9; margin:3px 10px 0 0;}
.middle-search input[type="search"]{ float:left; height:28px; color:#919fa9; font-size:14px; line-height:26px; background:none; width:90%; border:none;}

.logs-list{ background:#fff; float:left; width:100%; border:1px solid #d8e2e7; border-radius:4px;}
.log_container{ float:left; padding:15px 2% 0; width:96%;}
.logs-list h4{ background:#005494; padding:7px 14px; border-radius:4px 4px 0 0; color:#fff; font-size:15px; line-height:20px;}
.logbox{ float:left; width:100%; background:#ffffff; box-shadow:0 1px 2px #e7e7e7; margin:0 0 15px; border:1px solid #d8e2e7; border-radius:4px;}

.logbox .whitelog{ float:left; width:42%; position:relative; padding:10px 4%;}
.logbox .graylog{ float:left; width:46%; padding:10px 2%; background:#f2f3f4;}
.logbox .graylog img{ width:100px; float:left; margin:0 10px 0 0;}
.logbox .whitelog i{ position:absolute; color:#005494; left:-10px; font-size:20px; cursor: pointer}
.logbox .whitelog i.fa-camera-retro{ top:36%; }
.logbox .whitelog i.fa-pencil-square-o{  font-size: 23px; top: 65%; color:#1DA076; }
.logbox .whitelog i.fa-remove{  font-size: 23px; top: 97%; color:#BD2126; }
.logbox p{ font-size:15px; line-height:20px; padding:10px 0 5px;}
.logbox small{ display:block; font-size:13px; line-height:15px; color:#9eb1bb;}

.left_pop{ float:left; width:50%;}
.modal-body .formrow{ margin:0 0 10px; display:inline-block; width:100%;}
.modal-body{ float:left; width:100%; box-sizing:border-box;}
.modal-body label{ float:left; width:40%; font-size:16px; margin:8px 0 0; font-weight:normal; line-height:20px;}
.modal-body input[type="text"]{ float:right; width:55%; border:1px solid #ccc; height:25px; padding:3px 2%; border-radius:}
.left_pop .categorybox{ float:right; width:60%;}
.left_pop .categorybox .dropdown-toggle{ border: 1px solid #cccccc; background:#fff; height: 31px; padding: 3px 2%; text-align:left; width: 100%;}
.left_pop .categorybox .multiselect-parent .dropdown-menu{ border:1px solid #ccc; overflow-y:auto !Important; overflow-x:hidden !Important; margin:10px 0 0; padding:10px;}
.left_pop .categorybox .multiselect-parent .dropdown-menu label{ width:100%; font-size:15px; text-transform:capitalize;} 
.left_pop .categorybox .multiselect-parent .dropdown-menu a{ cursorointer;}
.left_pop .categorybox .multiselect-parent .dropdown-menu li{ margin:0; font-size:14px; line-height:20px;}

.left_pop .categorybox ul li{ margin:0 0 10px; float:left; width:100%;}
.left_pop .categorybox ul li:last-child{ margin:0;}
.left_pop .categorybox select{ float:right; width:85%; padding:5px 10px; border:1px solid #ccc;}
.left_pop .categorybox input[type="radio"]{ float:left; margin:7px 0 0;}
.left_pop .upload{ display:inline-block; position:relative;}
.left_pop .upload input[type="file"]{ position:absolute; left:0; top:0; height:100%; width:100%; opacity:0; cursor:pointer;}
.left_pop .upload span{ background: #005494; border-radius: 5px; color: #fff; float: left; font-size: 14px; line-height: 20px;
 padding: 6px 15px;}
.left_pop textarea{ float:right; width:55%; padding:5px 2%; border:1px solid #ccc; resize:none; height:70px; }
.modal-footer a{ border:1px solid #005494; border-radius: 5px; color: #005494; display:inline-block; font-size: 14px; line-height: 20px;
 padding: 6px 15px;}
.modal-footer a:hover{ background: #005494; color: #fff;}

.right_pop{ float:right; width:45%;} 
.right_pop .likebtn{ background: #005494; border-radius: 5px; color: #fff; display:block; font-size: 14px; line-height: 20px;
 padding: 6px 15px; display:block; margin:0 0 10px;}
 .right_pop .likebtn{ opacity:.7;}
 .right_pop .likebtn.active{ opacity:1;}
.right_pop .searchbox{ padding:5px 10px; border:1px solid #ccc; border-radius:20px; height:20px;}
.right_pop .searchbox a{ color:#555; font-size:16px;}
.right_pop .searchbox input[type="text"]{ width:90%; padding:0; font-size:14px; color:#555; height:20px; border:none;} 
.modal-body .jqTransformRadio{ background:url(../images/quiz_radio.png) no-repeat 0 0 !important; margin:5px 0 ; height:12px !important; width:12px !important;}
.modal-body .jqTransformRadio.jqTransformChecked{background:url(../images/quiz_radio.png) no-repeat 0 -12px !important;} 
 
 
 /*====login-popup-css=======*/
.popup .modal-content{padding:21px 2.5em 0; display:block; background: #ECEFF4;  border: 1px solid #ECEFF4; border-radius: 4px; position:relative}

.popup .modal-content h3{color: #005494; font-size: 24px; margin-top:0px;}

.popup .modal-content .middle-sec{display: inline-block;  padding: 25px 0;  width: 100%; border-bottom: 1px dashed #cccccc;  border-top: 1px dashed #cccccc;}
.middle-sec .social-login {display: inline-block; vertical-align: top;  width: 40%; text-align:center}
.middle-sec .social-login ul {display: inline-block; height: 100%; list-style: outside none none;  margin: 0;}
.middle-sec .social-login ul li{display:inline-block;vertical-align:middle;width:100%}
.middle-sec .social-login ul li a{background:none;border-radius:5px;color:#4d4d4d;height:auto;margin:65px 0 0;padding:3px 0;text-indent:0;width:100%; display:inline-block;}
.signup .middle-sec .social-login ul li a{margin:100px 0 0 0;}
.middle-sec .social-login ul li a i{vertical-align:middle; margin-left:20px;}
.middle-sec .seprator{background:url("../images/seprator.png") no-repeat center center;  display: inline-block;  min-height: 200px;  text-align: center;  vertical-align: top;   width: 18%;}
.signup .middle-sec .seprator{min-height:270px;}
.middle-sec .form-sec{ display: inline-block; vertical-align: top; width: 40%;}
.middle-sec .form-sec label { color: #4d4d4d;  cursor: pointer;  display: block;  font-size: 0.875rem;  font-weight: normal;  line-height: 1.5;  margin-bottom: 0;}
.middle-sec .form-sec label input{border-radius: 5px; margin-bottom: 10px; margin-top: 4px; background-color: #ffffff;  border: 1px solid #e6e6e5; box-shadow: none;  box-sizing: border-box;  color: rgba(0, 0, 0, 0.75);  display: block;  font-family: inherit; font-size: 0.875rem; height: 2.3125rem;  margin: 0 0 1rem;  padding: 0.5rem;  width: 100%;}
.middle-sec .form-sec .submit-btn{ display: block;  margin-bottom: 5px; margin-top: 25px;}
.middle-sec .form-sec .submit-btn button{background: #005494;  border: 1px solid #005494;  border-radius: 3px;  color: #ffffff;  cursor: pointer; display: table-cell; font-family: "ProximaNova-Semibold";  font-size: 12px;  height: 36px;  outline: medium none;  padding: 0 25px;  text-align: center; text-transform: uppercase; vertical-align: middle;}
.middle-sec .form-sec .submit-btn button:hover{background:#fff; color:#005494}
.middle-sec .form-sec .submit-btn a{color: #4d4d4d; font-size: 13px;  margin-left: 20px;}

.popup .modal-content .bottom-sec p{color: #005494; display: table-cell;  font-size: 24px;  line-height: 24px;  padding: 21px 0;}
.popup .modal-content .bottom-sec p a{border-bottom: 1px solid; color: #005494; font-size: 24px;}

.close-modal { background: url("../images/reveal-close.png") no-repeat scroll left center;  height: 22px;  width: 22px; position:absolute; top:10px; right:10px; cursor:pointer}

.common .modal-content{padding:30px;}
.left-sec{display:inline-block; width:55%; margin-right:3%;  vertical-align:top;}
.left-sec .title{display:inline-block; width:100%; padding:0 0 20px;}
.left-sec .title h3{text-align:left; padding:0px;}
.left-sec p{color:#555; font-size:14px; line-height:18px; margin-bottom:20px;}
.left-sec .title p{margin:0px;}
.left-sec .title p a{color:#3a8bbb;}
.left-sec figure{display:inline-block; width:90%; background:#fff; padding:5%; margin-bottom:20px;}
.left-sec figure img{max-width:100%;}

.right-sec{display:inline-block; width:36%; vertical-align:top; margin-left:4%;}
.right-sec h3{text-align:left}
.right-sec .stats{display:block; list-style:none; margin:50px 0 20px;}
.right-sec .stats li{display:inline-block; width:100%; padding:10px 0; border-bottom:1px dashed #ccc; text-align:right}
.right-sec .stats li a{color:#555;}
.right-sec .stats li a i{float:left; color:#3a8bbb}
.right-sec figure{display:inline-block; width:100%; margin-bottom:25px}
.right-sec  figure img{width:100%}
.right-sec .tags{display:block; list-style:none;}
.right-sec .tags li{display:inline-block; margin:0 5px 5px; font-size:14px; line-height:18px;}
.right-sec .tags li a{color:#555; text-transform:capitalize; transition:.2s}
.right-sec .tags li a:hover{color:#3a8bbb}
/*====login-popup-css=======*/
 
 
#placeAutoComplete{ z-index: 9999; position:relative; margin:5px 0 0;}
 #myModal,#myModal + .modal-backdrop{ max-width:67%;}
 

 .spinner img {
    margin: 0 auto;
    display: block;
    padding: 100px;
}

.google-places{ float: none !important; } 
.right_pop .searchbox{ width: 90%; }
.places-box a{position: relative; float:right; }
.places-list li{ border: 1px solid #cccccc; border-radius: 8px; margin: 5px; padding: 9px;}
.modal-body label small{font-size: 9px;}