
 
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
			<div class="spinner" ng-show="showLoading">
				<img src="{{$root.rootUrl}}/app/images/loading_white.gif" alt="loading..."/>
			</div>
			<div class="modal-data" ng-show="!showLoading">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a log</h4>
              </div>
			  <form name="form" enctype="multipart/form-data">
              <div class="modal-body">
				
                <div class="left_pop">
                    <div class="formrow">
                        <label>Title</label>
                        <input type="text" placeholder="add a title" required ng-model="cardData.title"/>
                    </div>
                    <div class="formrow">
                        <label>Category<br/><small>Max. 2 selection allowed</small></label>
                        <div class="categorybox">
                            <div ng-dropdown-multiselect="" options="categories" selected-model="selectedCategories" checkboxes="true" extra-settings="settings"></div>
							
							
							<!--<ul>
                                <li>
                                    <input type="radio" name="cat">
                                    <select name="cats[]">
                                    	<option ng-repeat="(key, val) in categories" value="{{key}}">{{val}}</option>
                               
                                    </select>
                                </li>
                                <li>
                                    <input type="radio" name="cat">
                                    <select name="cats[]">
                                    	<option ng-repeat="(key, val) in categories" value="{{key}}">{{val}}</option>
                                    </select>
                                </li>
                            </ul>-->
                        </div>
                    </div> 
                     <div class="formrow">
                        <label>Notes</label>
                        <textarea ng-model="cardData.notes"></textarea>
                     </div>
                     <div class="formrow">
                        <label>Time spent</label>
                        <input type="text" ng-model="cardData.time_spent">
                     </div>
                     <div class="formrow">
                        <label>Add photo</label>
						
                        <div class="upload">
							
							  <input type="file" name="file" ngf-select="captureFile($file, $invalidFiles)" 
												accept="image/*" ngf-max-height="1000" ngf-max-size="2MB">
                        	<span>Upload File</span>
							
                        </div>
						<img src="{{f.$ngfBlobUrl}}" style="height: 50px; width: 50px;">
                     </div>  
                </div>
                <div class="right_pop">
                	<div class="formrow">
                    	<a ng-click="cardData.recommend=true" class="likebtn" ng-class="{'active':cardData.recommend == true}"><i class="fa fa-thumbs-o-up"></i> Yes, I Recommend</a>
                        <a ng-click="cardData.recommend=false" class="likebtn" ng-class="{'active':cardData.recommend == false}"><i class="fa fa-thumbs-o-down"></i> No, Steer Clear</a>
                    </div>
                    <div class="formrow">
                    	<label>Place(s)</label>
                        
                    </div>
                    <div class="searchbox">
                        <input type="text" class="google-places" ng-model="cardData.place" placeholder="Type the name of a place" g-places-autocomplete>
						<a ng-click="cardData.place=''" ng-show="cardData.place.length>0"><i class="fa fa-remove"></i></a>
                    </div>
					<div class="formrow">
                    	<ul class="places-list">
							<li ng-repeat="pl in cardData.places">
								<div class="places-box">
								<a ng-click="removePlace(pl)"><i class="fa fa-remove"></i></a>
								<p>{{pl.place_name}}</p>
								<small>{{pl.formatted_address}}</small>
								</div>
							</li>
						</ul>
                        
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                <!--<a  class="btn btn-default"><i class="fa fa-trash"></i> Delete Place</a>-->
                <a ng-click="addNewCard()" class="btn btn-primary"><i class="fa fa-check-circle"></i> Add Card</a>
              </div>
				</form>
			</div>
		</div>	
  </div>
</div>

