         <!-- common popup -->
<div class="modal fade popup common" role="dialog">
  <div class="modal-dialog modal-lg">
	
    <div class="modal-content">
		<div class="spinner" ng-show="showLoading">
			<img src="{{$root.rootUrl}}/app/images/loading_grey.gif" alt="loading..."/>
		</div>
		<div class="modal-data" ng-show="!showLoading">	
			<a class="follow-link" ng-click="followUser(card.user_id)">Follow {{card.username}}</a>
			 <div class="left-sec">
			  <div class="title">
				<h3>{{card.places[0].place_name}}</h3>
				<p>{{card.places[0].formatted_address}}</p>
				<p>By <a>{{card.username}}</a> on <span>{{card.created}}</span></p>
			  </div>
			  <figure><img src="{{$root.siteUrl}}{{card.pictures[0]}}" alt="Image"/></figure>
			  <p><strong>Pro Tip: </strong>{{card.notes}}</p>
			  <ul class="tags">
				<li ng-repeat="tag in card.tags" ng-if="tag.isChecked == true"><a href="#">#{{tag.tag}}</a></li>
			  </ul>
			  </div>
			  <div class="right-sec">
			  <ul class="stats">
				<li><a><i class="fa fa-eye"></i> {{card.views}}</a></li>
				<li><a ng-click="likeCard(card.id)"><i class="fa fa-paperclip"></i>{{card.likes}}</a> </li>
				<!--<li><a class="btn btn-medium font-bold"
									socialshare
									socialshare-provider="facebook"
									socialshare-type="feed"
									socialshare-via="997437293625019"
									socialshare-media="{{$root.siteUrl}}{{card.pictures[0]}}"
									socialshare-text="{{card.title}}"
									socialshare-caption="{{card.notes}}"
									socialshare-url="{{$root.rootUrl}}/#/story/{{card.id}}"
									
									socialshare-popup-height="300"
									socialshare-popup-width="400"
									socialshare-trigger="click">
									<i class="fa fa-facebook"></i> 
								  </a>
				</li>-->
			  </ul>
			  <figure class="map">
				<h3>Map</h3>
				<div id="map_canvas_mini"></div>
			  </figure>
			  
			  </div>
			   
		</div>
		<a class="close-modal" ng-click="close('Cancel')" remove-modal></a>
  
  </div>
</div>
</div>
<!-- common popup -->
 