
    	<div class="overlay" ng-click="toggleMenu()"></div>
        <div class="head-sec" ng-class="headSecClass">
            <a class="toggle" ng-click="toggleMenu()"><i class="fa fa-navicon"></i></a>
            <div class="wrapper">
				<ul ng-show="$root.isLoggedIn == false || !$root.isLoggedIn">
					<li><a ng-click="showLogin()">Login</a></li>
					<li><a ng-click="showRegister()">Signup</a></li>
                </ul>
				<ul ng-show="$root.isLoggedIn == true">
					<li><a ng-click="logout()">Logout</a></li>
                </ul>
                <h3>Discover awesome things to do, food to eat, and place to stay</h3>
                
                <div class="search_box"><a href="#"><i class="fa fa-search"></i></a><input type="search" placeholder="Type the name of a place or a key word" ng-change="doSearch()" ng-model="searchText"></div>
            </div>
        </div>
        <div class="wrapper">
		
          <div class="img_container">
				<div class="spinner" ng-show="showLoading">
					<img src="{{$root.rootUrl}}/app/images/loading_grey.gif" alt="loading..."/>
				</div>
				<ul class="boxout grid effect-2" id="grid" ng-show="!showLoading">
					<li class="box"  ng-repeat="card in cards" ng-class="hoverBox" ng-mouseover="hoverBox='active'" ng-click="showCardPreview(card.id)">
						<img src="{{card.pictures}}" alt="">
						<span>{{card.title}}</span>
						<div class="links">
							<ul>
								<li><a href="#"><i class="fa fa-eye"></i> {{card.views}}</a></li>
								<li><a href="#"><i class="fa fa-heart-o"></i>{{card.likes}}</a> </li>
								<li><a href="#">Read more..</a></li>
							</ul>
						</div>
					</li>			  
				</ul>
			 <div scroll-trigger="loadMore()" threshold="100"></div>
			
        </div>
        
		</div>
		
		
