    	<div class="overlay" ng-click="toggleMenu()"></div>
        <div class="head-sec"><a ng-click="toggleMenu()" class="toggle"><i class="fa fa-navicon"></i></a></div>
      	<div class="left_sec">
        	<div class="trending_box">
            	<h4>Trending on Ameego</h4>
            	<ul>
                	<li ng-repeat="cr in trendingCards"><img src="{{cr.img}}" alt=""></li>
                	
                </ul>
            </div>
            <div class="btns_sec">
            	<a href="#" class="btn">List View</a>
                <a href="#" class="btn">Map View</a>
                <div class="middle-search"><a href="#"><i class="fa fa-search"></i></a> <input type="search" placeholder="Type the name of a place or a key word" ng-model="cardSearch"></div>
                <a class="btn log-btn" ng-click="showAddCard()"><i class="fa fa-plus-circle"></i> Add a log</a>
            </div>
            <div class="logs-list">
            	<h4>Your Logs</h4>
                <div class="log_container">
                	<div class="logbox" ng-repeat="mCards in myCards | filter: cardSearch">
                    	<div class="whitelog">
                        	<i class="fa fa-camera-retro"></i>
							<i class="fa fa-pencil-square-o" title="Edit" ng-click="showEditCard(mCards.id)"></i>
							<i class="fa fa-remove" title="Delete" ng-really-message="Are you sure, you want to delete this card?" ng-really-click="reallyDelete(mCards.id)" item="mCards.id"></i>
                        	<p>{{mCards.title}}</p>
                            <small>{{mCards.notes}}</small>
                        </div>
                        <div class="graylog">
                        	<img src="{{mCards.pictures}}" alt=""/>
                            <p>{{mCards.location}}</p>
                            <small>{{mCards.categories}}</small>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="right_sec">
        	<div class="right_search">
            	<a href="#"><i class="fa fa-search"></i></a>
                <input type="search" value="Search your saved Pages" onClick="if(this.value=''){this.value=='Search your saved Pages'}" onBlur="if(this.value='Search your saved Pages'){this.value==''}">
            </div>
            <ul>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            	<li><img src="app/images/box3.jpg" alt=""><a href="#">Chris Gayle</a><p>China 8</p></li>
            </ul>
        </div>
        
    