    	<div class="overlay" ng-click="toggleMenu()"></div>
        <div class="head-sec">
			<!--<a ng-click="toggleMenu()" class="toggle"><i class="fa fa-navicon"></i></a>-->
			 <div class="wrapper">
			<a href="#/" class="logo-a" style="font: 700 34px/1 'Open Sans Condensed',sans-serif; color: #fff">reco<!--<img src="{{$root.rootUrl}}/app/images/logo.jpeg" alt=""/>--></a>
			
				<!--<ul ng-show="$root.isLoggedIn == true">
					<li><a href="#/my-trips">My Reco</a></li>
					<li><a ng-click="logout()">Logout</a></li>
                </ul>-->
            </div>
		</div>
    <div id="sortable-container" class="profile-page">
		<div class="left_sec">
			
                    
		    <div class="logs-list">
            	<h4>Profile / Settings</h4>
				
				<div class="log_container">
					
					<div class="sortable-row">
						<div class="profile-fromfields">
							<div class="text-field">
							  <label>
							  <span class="label-custom">First Name</span>
							  <input type="text" required ng-model="user.first_name"/>
							  </label>
						  </div>
						  <div class="text-field">
							  <label>
							  <span class="label-custom">Last Name</span>
							  <input type="text" required ng-model="user.last_name"/>
							  </label>
						  </div>
						  <div class="text-field">
							  <label>
							  <span class="label-custom">Email</span>
							  <input type="text" required ng-model="user.email" disabled="true"/>
							  </label>
						  </div>
								<div class="text-field">
							<button type="button" ng-click="updateProfile();">Update</button>
							</div>
						</div>
						<div class="profile-fromfields">
						<form id="settingsForm" name="settingsForm" ng-submit="updatePassword()">
							<div class="text-field">
							  <label>
							  <span class="label-custom">Old Password</span>
							  <input type="password" required ng-model="pass.old_password"/>
							  </label>
						  </div>
						  <div class="text-field">
							  <label>
							  <span class="label-custom">New Password</span>
							  <input type="password" required pattern=".{6,20}" title="6 to 20 characters" maxlength="20" ng-model="pass.new_password"/>
							  </label>
						  </div>
						  <div class="text-field">
							  <label>
							  <span class="label-custom">Confirm Password</span>
							  <input type="password" required pattern=".{6,20}"  maxlength="20" ng-model="pass.confirm_password"/>
							  </label>
						  </div>
							<div class="text-field">
							<button type="submit">Update Password</button>
							</div>
							</form>
						</div>
						
						
					</div>
					
					
				</div>
				
            </div>
			<div class="logs-list">
				<h4>Connect wit friends</h4>
				<div class="log_container">
					<div class="sortable-row">
						
						<div class="invite-box">
							<a ng-click="sendMessage()">Invite friends to connect</a>
						</div>	
					</div>
				</div>
			</div>
        
		</div>
        <div class="right_sec">
        	<div class="follow-box">
				<div class="right_search">
					<a href="#"><i class="fa fa-search"></i></a>
					<input type="search" placeholder="Search your Followers" ng-model="userFollowers">
				</div>
			 
				<ul>            	
					<li ng-repeat="user in fData.my_followers | filter: userFollowers">
						<div >
							<div class="whitelog-left">
							<img src="{{$root.rootUrl}}/app/images/person.jpg" alt="" style="max-height: 60px; max-width: 60px; border-radius: 0;">
							{{user.User.first_name}} {{user.User.last_name}}
							</div>
							<div class="whitelog-right">
								
								<span><small><a href="mailto: {{user.User.email}}">{{user.User.email}}</a></small></span>
							</div>
						</div>
						
					</li>
				</ul>
			</div>
			
			<div class="follow-box">
				<div class="right_search">
					<a href="#"><i class="fa fa-search"></i></a>
					<input type="search" placeholder="Search users you are following" ng-model="userFollow">
				</div>
			 
				<ul>            	
					<li ng-repeat="user in fData.following | filter: userFollow">
						<div >
							<div class="whitelog-left">
							<img src="{{$root.rootUrl}}/app/images/person.jpg" alt="" style="max-height: 60px; max-width: 60px; border-radius: 0;">
							<a>{{user.User.first_name}} {{user.User.last_name}}</a>
							</div>
							<div class="whitelog-right">
								
								<span><small>{{user.User.email}}</small></span>
							</div>
						</div>
						
					</li>
            </ul>
			</div>
	   </div>
        
    </div>