 <style>
 #map_canvas {
    width: 450px;
    height: 450px;
}
 </style>   
   <!-- common popup -->
<div class="modal fade popup common" role="dialog">
  <div class="modal-dialog modal-lg">
	
    <div class="modal-content">
		<div class="spinner" ng-show="showLoading">
			<img src="{{$root.rootUrl}}/app/images/loading_grey.gif" alt="loading..."/>
		</div>
		<div class="modal-data" ng-show="!showLoading">	
			<div class="logs-list">
            	
				<div class="log_container">
					<div class="spinner logbox" ng-show="showLoading">
						<img src="{{$root.rootUrl}}/app/images/loading_white.gif" alt="loading..."/>
					</div>
					<div ng-show="!showLoading">
						<div class="headingcontent">
							<h3>{{tripData.title}}</h3>
							<p>{{tripData.notes}}</p>
						</div>
						
						<div class="logbox" ng-repeat="tCard in tripData.cards" ng-show="listView">
							<div>
								<div class="whitelog" ng-if="tCard.id!='a'">								
									<p>{{tCard.title}}</p>
									<small>{{tCard.notes}}</small>
								</div>
								<div class="graylog" ng-if="tCard.id!='a'">
									<img src="{{$root.siteUrl}}{{tCard.pictures[0]}}" alt=""/>
									<p>{{tCard.place}}</p>
									<small>{{tCard.categories}}</small>
								</div>
								<div class="daybreak-card" ng-if="tCard.id=='a'">
									<p>Day Break</p>
								</div>
							</div>
						</div>
						<div class="logbox" ng-show="!listView">
							<div id="map_canvas"></div>
						</div>
					</div>
				</div>
            </div>
         
		</div>
		<a class="close-modal" ng-click="close('Cancel')" remove-modal></a>
  
  </div>
</div>
</div>
<!-- common popup -->
