<!-- common popup -->
<div class="modal fade popup common" role="dialog">
  <div class="modal-dialog modal-lg">
	
    <div class="modal-content">
		<div class="spinner" ng-show="showLoading">
			<img src="{{$root.rootUrl}}/app/images/loading_grey.gif" alt="loading..."/>
		</div>
		<div class="modal-data" ng-show="!showLoading">	
			<div class="logs-list">
            	
				<div class="log_container">
					<div class="spinner logbox" ng-show="showLoading">
						<img src="{{$root.rootUrl}}/app/images/loading_white.gif" alt="loading..."/>
					</div>
					<div ng-show="!showLoading">
						<div class="headingcontent head_popup" style="clear:both;">
							
							
								<h3>{{tripData.title}}</h3>
								<div class="btns_sec">
									<a class="btn active" socialshare
									socialshare-provider="facebook"
									socialshare-type="feed"
									socialshare-via="997437293625019"
									socialshare-media="{{$root.siteUrl}}{{tripData.cards[0].pictures[0]}}"
									socialshare-text="{{tripData.title}}"
									socialshare-caption="{{tripData.notes}}"
									socialshare-url="{{$root.rootUrl}}/#/trip/{{tripData.id}}"
									
									socialshare-popup-height="300"
									socialshare-popup-width="400"
									socialshare-trigger="click">Share on Facebook</a>
									<a ng-click="listView=true" class="btn" ng-class="{ 'active':listView }">List View</a>
									<a ng-click="listView=false" class="btn" ng-class="{ 'active':!listView }">Map View</a>
								</div>
								
							
						</div>
						<div class="trip_notes">{{tripData.notes}}</div>
							
						<div class="logbox" ng-repeat="tCard in tripData.cards" ng-show="listView">
							<div>
								<div class="whitelog" ng-if="tCard.id!='a'">								
									<p>{{tCard.title}}</p>
									<small>{{tCard.notes}}</small>
								</div>
								<div class="graylog" ng-if="tCard.id!='a'">
									<img src="{{$root.siteUrl}}{{tCard.pictures[0]}}" alt=""/>
									<p>{{tCard.place}}</p>
									<small>{{tCard.categories}}</small>
								</div>
								<div class="daybreak-card" ng-if="tCard.id=='a'">
									<p>Day Break</p>
								</div>
							</div>
						</div>
						<div class="logbox" ng-show="!listView">
							<div id="map_canvas"></div>
						</div>
					</div>
				</div>
            </div>
         
		</div>
		<a class="close-modal" ng-click="close('Cancel')" remove-modal></a>
  
  </div>
</div>
</div>
<!-- common popup -->
